.product .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #98878f;
    padding-top: 20px;
    color: #192231;
}

.product {
    background-color: #e9e9e9;
}

.product .product-info {
    margin-left: 0;
}

.product .product-info .quantity {
    width: 50px;
}

.product .product-info .add-to-cart-btn {
    float: right;
    margin-top: -5px;
}

.product .product-info-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product .product-info hr {
    border-bottom: 1px solid #98878f;
}

.product .showcase .main-image {
    background-color: #fff;
    border: 2px solid #98878f;
}

.product .showcase .main-image img {
    width: 100%;
}

.product .showcase .image-previews .preview {
    padding-left: 5px;
    padding-right: 5px;
}

.product .showcase .image-previews img {
    margin: 10px 0 10px 0;
    border: 2px solid #98878f;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
}

.product .image-thumbnail {
    padding: 0;
    background-color: #fff;
    border: 1px solid #98878f;
}

.product .image-thumbnail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}