.splash-container {
    padding: 0;
    box-shadow: 5px 5px 5px -4px #000, -5px 5px 5px -4px #000, 0 5px 4px -2px #000;
}

/* 369px width or less (Galaxy S5 or smaller) */
.splash {
    background-image: url("../images/iStock_90391651_360.jpg");
    min-height: 210px;
    background-position: center bottom;
    position: relative;
}

.splash .logo {
    display: block;
    margin-top: 0;
    top: 10%;
    right: 15%;
    position:absolute;
    width: 35%;
    opacity: .8;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

@media (min-width: 370px) {
    .splash {
        background-image: url("../images/iStock_90391651_450.jpg");
        min-height: 260px;
    }

    .splash .logo {
        width: 45%;
        right: 10%;
        top: 10%;
    }
}

/* 450 */
@media (min-width: 450px) {
    .splash {
        background-image: url("../images/iStock_90391651_550.jpg");
        min-height: 320px;
    }

    .splash .logo {
        width: 40%;
        right: 15%;
        top: 10%;
    }
}

@media (min-width: 550px) {
    .splash {
        background-image: url("../images/iStock_90391651_690.jpg");
        min-height: 400px;
    }
}

@media (min-width: 690px) {
    .splash {
        background-image: url("../images/iStock_90391651_768.jpg");
        min-height: 430px;
    }

    .splash .logo {
        width: 40%;
        right: 10%;
        top: 7%;
    }
}

@media (min-width: 768px) {
    .splash {
        background-image: url("../images/iStock_90391651_750.jpg");
        min-height: 420px;
    }
}

@media (min-width: 992px) {
    .splash {
        background-image: url("../images/iStock_90391651_970.jpg");
        min-height: 540px;
    }
}

@media (min-width: 1200px) {
    .splash {
        background-image: url("../images/iStock_90391651_1170.jpg");
        min-height: 650px;
    }

    .splash .logo {
        width: 35%;
        right: 15%;
        top: 10%;
    }
}

/* product card section */
.shelf {
    background-color: #fff;
    min-height: 200px;
    box-shadow: 5px 5px 5px -4px #888, -5px 5px 5px -4px #888, 0 5px 4px -2px #888;
    margin-bottom: 30px;
}

.shelf-card {
    padding-left: 25px;
    padding-bottom: 15px;
}



.category-title {
    margin-top: 60px;
    margin-bottom: 20px;
}

.category-title img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.shelf-image-container img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.products {
    padding-top: 30px;
    background-color: #fff;
    margin-bottom: 20px;
}

.products .feature .thumbnail {
    background-color: transparent;
    border-style: none;
    position: relative;
}

.products .feature .thumbnail > img {
    border: 2px solid #98878f;
}

.products .feature .thumbnail .btn {
    
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

/* TODO: need to change the height based on the screen size */
.products .feature .thumbnail .product-desc {
    /*display: block;*/
    height: 40px;
    bottom: 0;
    color: #985e6d;
}