body {
    background-image: url("../images/workshop.png");
    background-repeat: repeat-x;
    color: #192231;
}

.jumbotron {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron img.logo {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.products {
    padding-top: 30px;
    background-color: #e9e9e9;
    margin-bottom: 20px;
    border-top: 2px solid #98878f;
}

.products .feature .thumbnail {
    height: 320px;
    background-color: transparent;
    border-style: none;
    position: relative;
}

.products .feature .thumbnail > img {
    border: 2px solid #98878f;
}

.products .feature .thumbnail .btn {
    
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

/* TODO: need to change the height based on the screen size */
.products .feature .thumbnail .product-desc {
    /*display: block;*/
    height: 40px;
    bottom: 0;
    color: #985e6d;
}