
@{
    ViewBag.Title = "WarrantyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Warranty Policy</h2>
            <p>Simple & Easy Returns</p>

            <p>
                At US Duty Gear we will refund, credit or exchange your new or unused item(s) within 30 days from the date you place your order, 100% satisfaction guarantee. Return instructions are available on the reverse side of the packing slip.
            </p>
            
            <p>
                * Please note that returned items must be unworn and as they were received in their original packaging.
            </p>
            
            <p>
                3 Easy steps to return a US Duty Gear product:
            </p>
            
            <ol>
                <li>
                    Complete the return form and submit it to our US Duty Gear Returns Department. Click here for return form
                </li>
                <li>
                    Once we receive it, we will contact you via email and provide you with a Return Number and a UPS account to ship back the product.
                </li>
                <li>
                    As soon as we receive and process your return, we will issue a refund to the original credit card. Please note that we can only issue refunds to your credit card within 30 days of the original shipment date. If you send back a return that is 30 days or more after the original shipment date, you will be issued a store credit.
                </li>
            </ol>

            <p>
                To ensure fast processing, ship to:
            </p>
            
            <p>
                US Duty Gear Returns Department  2131 S.Hellman. Ave Unit "D" Ontario, CA 91761
            </p>

            <p>
                For any questions please call us at (909)-391-8800 or send us an email and we will get back to you within 24 hours.
            </p>
        </div>
    </div>
</div>


