body {
    background-image: url("../images/workshop.png");
    background-repeat: repeat-x;
}

.jumbotron {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron img.logo {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.products {
    padding-top: 30px;
    /*background-color: #b4c8f1;*/
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.products .feature .thumbnail {
    height: 320px;
    background-color: transparent;
    border-style: none;
    position: relative;
}

.products .feature .thumbnail .btn {
    
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.products .feature .thumbnail .product-desc {
    /*display: block;*/
    height: 40px;
    bottom: 0;
}