.product-breadcrumb .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 20px;
}

.product {
    font-size: 14px;
    color: #555;
}

.product .product-info-price {
    font-family: 'Roma Sans', sans-serif;
    font-size: 26px;
    color: darkorange;
}

.product .product-info {
    color: #444;
    font-size: 16px;
    margin-left: 0;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
}

.product .product-header {
    background-color: #017db9;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.product .product-header h3 {
    color: #fff;
}

.product .product-header .model-number {
    display: block;
    color: #f1f1f1;
    padding-bottom: 10px;
    font-size: 14px;
    font-style: italic;
}

.product .product-info .product-finish {
    position: relative;
    padding-left: 100px;
    margin-bottom: 15px;
}

.product .product-info .product-finish.description {
    height: 30px;
}

.product .product-info .product-description {
    font-size: 14px;
    padding-bottom: 50px;
}

.product .product-info .adj-label {
    display: inline-block;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
    letter-spacing: 1px;
    font-weight: bold;
}

.product .product-info .quantity {
    width: 50px;
}

.product .product-info .add-to-cart-btn {
    height: 40px;
    margin-left: -4px;
    margin-top: -2px;
    background-color: #0288C7;
    width: 100px;
}

.product .product-info .product-info-footer {
    position: relative;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    background-color: #2F2F2F;
    height: 42px;
}

.product .product-info .checkout-btn {
    float: right;
    /*bottom: 0;
    right: 0;*/
}

.product .showcase {
    padding-left: 0;
    padding-right: 8px;
}

.product .showcase .main-image {
    background-color: transparent;
}

.product .showcase .main-image:hover {
    cursor: crosshair;
}

.product .showcase .main-image img {
    width: 100%;
}

.product .image-thumbnail {
    padding: 0;
    margin-top: 3px;
    float: left;
    margin-bottom: 15px;
    margin-right: 3px;
    position: relative;
}

.product .image-thumbnail.selected {
    margin-top: 0;
    margin-right: 0;
    margin-left: -3px;
    border: 3px solid #0288C7;
}

.product .image-thumbnail.selected:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 40%;
    border-bottom: solid 15px #0288C7;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.product .image-thumbnail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* mobile style */
@media (max-width: 767px) {
    .product .showcase {
        padding-left: 10px;
        padding-right: 10px;
    }    

    .product .product-info {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
    }
}
