.product-breadcrumb .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    /*border-bottom: 1px solid #98878f;*/
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 20px;
    /*color: #192231;*/
}

.product {
    background-color: #fff;
    box-shadow: 5px 5px 5px -4px #888, -5px 5px 5px -4px #888, 0 5px 4px -2px #888;
    font-size: 14px;
    color: #555;
}

.product .product-info-price {
    font-family: 'Roma Sans', sans-serif;
    font-size: 26px;
}

.product .product-info {
    margin-left: 0;
    /*clear: left;*/
}

.product .product-info .adj-label {
    display: inline-block;
    width: 60px;
}

.product .product-info .quantity {
    width: 50px;
    margin-left: 3px;
}

.product .product-info .add-to-cart-btn {
    float: right;
    margin-top: -12px;
}

.product .product-info hr {
    border-top: 1px solid #eee;
    /*background-image: url('../images/divider.png');
    background-position: center center;*/
}

.product .showcase .main-image {
    background-color: transparent;
}

.product .showcase .main-image img {
    width: 100%;
}

.product .showcase .image-previews .preview {
    padding-left: 5px;
    padding-right: 5px;
}

.product .showcase .image-previews img {
    margin: 10px 0 10px 0;
    border: 2px solid #98878f;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
}

.product .image-thumbnail {
    padding: 0;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    box-shadow: 3px 3px 3px -2px #888;
}

.product .image-thumbnail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}