body {
    font-family: 'Didact Gothic', sans-serif;
    color: #ccc;
}

.navbar {
    background-image: url('../images/belt_header.png');
    margin-top: -1px;
    color: #333;
    font-family: 'Poiret One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #192231;
    border-radius: 0;
    margin-bottom: 0;
    height: 80px;
    box-shadow: 0 5px 5px -2px #000; /*#39322C;*/
    padding-top: 20px;
    z-index: 100;
}

.navbar .navbar-header .navbar-brand {
    background-image: url('../images/us_duty_gear_brand.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    width: 170px;
    display: block;
}

nav.navbar a {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .navbar-nav > li > a:hover,
/*.navbar .navbar-nav > li > a:focus,*/
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:visited {
    /*background-image: url("../images/halftone.png");
    background-repeat: repeat;*/
    background-color: transparent;
    opacity: .9;
    color: #985e6d;
}

.navbar .navbar-nav > li.open > a:focus {
    background-color: transparent;
}

.navbar .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar .navbar-nav > li.dropdown > ul {
    /*background-color: #192231;*/
    background-color: #000;
    opacity: .85;
    color: #fff;
    border-radius: 0;
    /*border-left: 1px solid #192231;*/
    border-top-width: 0;
    font-weight: bold;
}

.navbar .navbar-nav > li.dropdown > ul > li > a {
    color: #fff;
}

.navbar .navbar-nav > li.dropdown > ul > li > a:hover {
    color: #985e6d;
}

.navbar hr {
    margin-top: 0;
    border-color: #fff;
    border-width: 1px;
}

.navbar .navbar-nav li.belt-header-detail {
    margin-top: -18px;
}

.btn {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    background-color: #192231;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
}

.btn:hover {
    background-color: #985e6d;
    color: #fff;
}