body {
    background-color: #2F2F2F;
    background-image: none;
    padding-top: 70px;
    font-family: 'Cabin', sans-serif;
    color: #777;
}

.navbar {
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    height: 50px;
    left: 50%;
    letter-spacing: 2px;
    position: fixed;
    top: 10px;
    text-transform: uppercase;
    transform: translateX(-50%);
    z-index: 200;
}

.navbar > .container {
    background-color: #1F1F1F;
    height: 50px;
}

.navbar .navbar-header .navbar-brand {
    background-image: none;
    width: initial;
    padding-top: 13px;
    border-right: 1px solid #444;
}

.navbar .navbar-header .navbar-brand:hover {
    background-image: url('../images/navbar-btn-highlight.png');
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    border-bottom: 2px solid #0288C7;
}

.navbar .navbar-nav li.belt-header-detail {
    display: none;
}

.navbar .nav.navbar-nav > li {
    border-right: 1px solid #444;
    border-left: 2px solid #151515;
    height: 50px;
}

.navbar .nav.navbar-nav > li > a {
    height: 50px;
    padding-top: 13px;
}

.navbar .navbar-nav > li.open,
.navbar .navbar-nav > li:hover {
    background-image: url('../images/navbar-btn-highlight.png');
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    border-bottom: 2px solid #0288C7;
}

/* collapsed header */
@media (max-width: 767px) {
    .navbar {
        position: fixed;
        top: -1px;
        width: 100%;
    }

    .navbar .navbar-collapse {
        margin-top: 14px;
        background-color: #fff;
        border-top: 3px solid #0288C7;
        position: relative;
        overflow: visible
    }

    .navbar .navbar-collapse:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        /*right: 0;*/
        margin: 0 auto;
        width: 0;
        border-bottom: solid 30px #0288C7;
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
    }

    .navbar .nav.navbar-nav > li {
        border: none;
        /*width: 100%;*/
    }

    .navbar .navbar-collapse .nav.navbar-nav > li > a {
        color: #444;
    }

    .navbar .nav.navbar-nav a {
        color: #444;
    }

    .navbar .nav.navbar-nav a:hover {
        color: #444;
        background-color: #f1f1f1;
        background-image: none;
    }

    .navbar .nav.navbar-nav.cart {
        display: none;
    }
}

.navbar .navbar-header button.navbar-toggle {
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
    color: #fff;
}

nav.navbar a {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:visited {
    background-color: transparent;
    /*opacity: .9;*/
    color: #fff;
}

.nav .open > a {
    background-color: transparent;
}

.navbar .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar .navbar-nav > li.dropdown > ul {
    background-color: #fff;
    color: #444;
    border-radius: 0;
    border: 0;
    margin-top: 20px;
    letter-spacing: normal;
    border: none;
    border-top: 2px solid #0288C7;
    text-transform: none;
    font-weight: lighter;
}

.navbar .navbar-nav > li.dropdown > ul:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 15px;
    /*right: 0;*/
    margin: 0 auto;
    width: 0;
    border-bottom: solid 20px #0288C7;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.navbar .navbar-nav > li.dropdown > ul > li > a {
    color: #444;
}

.navbar .navbar-nav > li.dropdown > ul > li > a:hover {
    background-color: #f1f1f1;
}

.navbar .dropdown-menu {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .dropdown-menu > li > a {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .5px;
}

.navbar hr {
    margin-top: 0;
    border-color: #fff;
    border-width: 1px;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: #0288C7;
}

.btn {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    background-color: #017db9;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    font-family: 'Oswald';
    font-size: 16px;
}

.btn.btn-primary {
    background-color: darkorange;
}

.btn:active {
    background-color: #036d9f;
    color: #fff;
}

.btn:hover {
    background-color: #036d9f;
    color: #fff;
}

.navbar .navbar-nav.cart > li {
    border: none;
}

.navbar .navbar-nav.cart > li:hover {
    background-image: none;
    background-color: transparent;
}

.navbar .glyphicon.glyphicon-shopping-cart {
    color: #fff;
    padding-top: 3px;
}

.navbar .glyphicon.glyphicon-shopping-cart:hover {
    background-color: transparent;
    cursor: pointer;
}

.footer {
    margin-top: 30px;
    background-color: #1F1F1F;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #fff;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

/* Main - 017db9 : Secondary - 0288C7 : Terciary - 036d9f */

.selectric {
    width: 150px;
    overflow: hidden;
    background-color: #036d9f;
    background-image: url('../images/selectric-arrow.png');
    background-position: top right;
    background-repeat: no-repeat;
    color: #fff;
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.selectric select {
    padding: 5px 8px;
    height: 40px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    z-index: 100;
    width: -moz-calc(100% + 20px);
    width: -webkit-calc(100% + 20px);
    width: -o-calc(100% + 20px);
    width: calc(100% + 20px);
}

.selectric select:hover {
    cursor: pointer;
}

.selectric select:focus {
    outline: none;
    border: none;
}

.selectric select:focus option {
    background-color: #fff;
    color: #000;
}

.selectric select option:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: #444;
}

input.with-style {
    background-color: #036d9f;
    border: none;
    color: #fff;
    padding-left: 5px;
    height: 40px;
    font-size: 16px;
}