body {
    font-family: 'Didact Gothic', sans-serif;
}

.navbar {
    margin-top: 10px;
}

.navbar hr {
    margin-top: 0;
}

.btn {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
