@model USDutyGear.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

@section styles
{
    @Styles.Render("~/Content/home")
}

@*<header class="jumbotron">
    <img src="~/images/us_duty_gear_logo_white_stars_transparent.png" alt="US Duty Gear Logo" class="logo" />
</header>*@

<div class="row">
    <div class="container splash-container">
        <div class="splash">
            @*<img src="~/images/us_duty_gear_logo_white_stars_transparent.png" alt="US Duty Gear Logo" class="logo" />*@
            <img src="~/images/us_duty_gear_logo_brand_transparent.png" alt="US Duty Gear Logo" class="logo" />
        </div>
    </div>
</div>

<!-- Page Features -->
<div class="row">
    <div class="container products">
        <div class="row shelf">
            <div class="container-fluid shelf-images">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/images/magazineholder_leather_metal_snap_large.png" alt="Leather Magazine Holder" class="shelf-image" />
                    </div>
                    <div class="col-lg-4">
                        <img src="~/images/magazineholder_basketweave_metal_snap_large.png" alt="Basketweave Magazine Holder" class="shelf-image" />
                    </div>
                    <div class="col-lg-4">
                        <img src="~/images/magazineholder_highgloss_metal_snap_large.png" alt="High Gloss Magazine Holder" class="shelf-image" />
                    </div>
                </div>
            </div>
            <div class="container shelf-description">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 shelf-card">
                        <h2>Magazine Holders</h2>
                        <p>
                            Dual magazine pouch available in a variety of finish and snap options. The pouch is designed to carry two magazines on 
                            a 2.25" (58mm) duty belt. Available for glock and 9mm magazines."
                        </p>
                        <a href="products/magazineholder" class="btn btn-default">View Product</a>
                    </div>
                </div>
            </div>
            
            @*<div class="col-lg-6">
                <img src="~/images/magazineholder_basketweave_metal_snap_large.png" alt="Basketweave Magazine Holder" />
            </div>*@

            @*@foreach (var product in Model.Products)
            {
                <div class="col-lg-6 col-md-6 col-sm-12 feature">
                    <div class="thumbnail">
                        <img src="~/images/@(product.RouteKey)_feature.png" alt="@product.Name">
                        <h3>@(product.Name)s</h3>
                        <p class="product-desc">@product.Description</p>
                        <p><a href="products/@product.RouteKey" class="btn btn-default">View Product</a></p>
                    </div>
                </div>
            }*@
        </div>

        <div class="row shelf alt-shelf">
            <div class="col-lg-5 shelf-card">
                <h2>Belt Keepers</h2>
                <a href="products/beltkeeper" class="btn btn-default">View Product</a>
            </div>
            <div class="col-lg-7">
                <img src="~/images/beltkeeper_leather_with_snap_large.png" alt="Leather Belt Keeper" class="shelf-image" />
            </div>
        </div>
    </div>
</div>