@using System.Globalization

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/cart")
}

<div class="row cart">
    <div class="container cart-list">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h1>Shopping Cart</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-default" onclick="rootCtrl.emptyCart()">Empty Cart</button>
                <label for="submit-shopping-list-cart"><button class="btn btn-default">Update Cart</button></label>
            </div>
        </div>

        <div class="cart-items">
            @using (Html.BeginForm("Index", "Cart", FormMethod.Post, new Dictionary<string, object>
            {
                { "id", "shopping-cart-list-form" }, { "data-bind", "foreach: items" }
            }))
            {
                <div class="row cart-item">
                    <div class="col-lg-8 col-md-8 col-sm-8 cart-item-main">
                        <h4 data-bind="text: Title"></h4>
                        <div>Model # <span class="number" data-bind="text: Model"></span></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 cart-item-detail">
                        <div>
                            <span class="title">Quantity: </span>
                            <input type="number" data-bind="value: Quantity, attr: { name: 'cart[' + Model + ']' }"/>
                            <span class="at-price">&#64;</span>
                            <span class="number" data-bind="text: PriceDisplay"></span> each
                            @*<a href="javascript:;" onclick="ctrl.updateCart()"><span class="glyphicon glyphicon-refresh"></span></a>*@
                            <hr />
                        </div>
                        <div class="item-total">
                            <span class="title">Item Total:</span>
                            <span class="number" data-bind="text: TotalDisplay"></span>
                        </div>
                    </div>
                </div>
            }
            <hr />
        </div>

        <div class="row shipping-info">
            <div class="col-lg-6 col-md-6">
                <h2>Shipping Address</h2>
                <div class="shipping-address">
                    <div><span>First Name: </span><input type="text" name="firstname" /></div>
                    <div><span>Last Name: </span><input type="text" name="lastname" /></div>
                    <div><span>Address: </span><input type="text" name="address" /></div>
                    <div><span>City: </span><input type="text" name="city" /></div>
                    <div><span>State: </span><input type="text" name="state" /></div>
                    <div><span>Zip Code: </span><input type="text" name="zip" /></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Shipping Options</h2>
                <div id="shipping-options" class="shipping-options">
                    <button class="btn btn-default" onclick="ctrl.doUpsStuff()">Calculate</button>
                    <div data-bind="foreach: Options">
                        <div class="shipping-rate">
                            <input type="radio" name="shippingOption" value="ServiceCode" />
                            <span class="number">$</span><span class="number" data-bind="text: Charge"></span>
                            <span> - </span>
                            <span data-bind="text: Service"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row payment-info">
            
            <!-- TODO: credit card info -->
        </div>

    </div>
    <!-- total -->
</div>

<!-- shipping address -->
<!-- billing address -->

@section scripts
{
    <script type="text/javascript" src="~/js/__cart.js"></script>
}