@using System.Globalization

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/cart")
}

<div class="row cart">
    <div class="container cart-list">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h1>Shopping Cart</h1>
            </div>
        </div>

        <div class="cart-items">
            <div class="row cart-items-header">
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <h2>Items</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 ">
                    <h2>Totals</h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12"><hr /></div>
            </div>

            @using (Html.BeginForm("Index", "Cart", FormMethod.Post, new Dictionary<string, object>
            {
                {"id", "shopping-cart-list-form"}, {"data-bind", "foreach: cart.items"}
            }))
            {
                <div class="row cart-item">
                    <div class="col-lg-8 col-md-8 col-sm-7 cart-item-main">
                        <h4 data-bind="text: Title"></h4>
                        <div>Model # <span class="number" data-bind="text: Model"></span></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 cart-item-detail">
                        <div>
                            <span class="title">Quantity: </span>
                            <input type="number" data-bind="value: Quantity, attr: { name: 'cart[' + Model + ']' }"/>
                            <span class="at-price">&#64;</span>
                            <span class="number" data-bind="text: PriceDisplay"></span> each
                            <button type="button" class="btn btn-default btn-trash" aria-label="Trash" data-bind="attr: { onclick: ctrl.removeCartItem(Model, $index()) }">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <hr/>
                        </div>
                        <div class="item-total">
                            <span class="title">Item Total:</span>
                            <span class="number" data-bind="text: Quantity * Price"></span>
                        </div>
                    </div>
                </div>
            }
            <hr/>
            <div class="row cart-items-footer">
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <button class="btn btn-default" onclick="rootCtrl.emptyCart()">Empty Cart</button>
                </div>
                <div id="" class="col-lg-4 col-md-4 col-sm-5">
                    <div class="item-total">
                        <span class="title">Shipping:</span>
                        <span class="number" data-bind="visible: shipping().SelectedRate(), text: shipping().SelectedRate() ? shipping().SelectedRate().Charge : ''"></span>
                        <span data-bind="visible: !shipping().SelectedRate()">--</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row shipping-info">
            <div class="col-lg-6 col-md-6">
                <h1>Shipping Address</h1>
                <div class="shipping-address">
                    <div><span>First Name: </span><input type="text" name="firstname" /></div>
                    <div><span>Last Name: </span><input type="text" name="lastname" /></div>
                    <div><span>Address: </span><input type="text" name="address" /></div>
                    <div><span>City: </span><input type="text" name="city" /></div>
                    <div><span>State: </span><input type="text" name="state" /></div>
                    <div><span>Zip Code: </span><input type="text" name="zip"/></div>
                    <div><span>&nbsp;</span><div class="calculate-shipping-btn-container"><button class="btn btn-default btn-block" onclick="ctrl.doUpsStuff()">Shipping Rates</button></div></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h1>Shipping Options</h1>
                <div id="shipping-options" class="shipping-options">
                    <span data-bind="visible: shipping().Options().length === 0" class="warning">Enter a valid shipping address, then hit the Calculate button, to see shipping rates.</span>
                    <span data-bind="visible: shipping().Options().length > 0">Select your shipping method:</span>
                    <div class="shipping-rates" data-bind="foreach: shipping().Options">
                        <div class="shipping-rate">
                            <input type="radio" name="selectedRates" data-bind="checkedValue: $data, checked: $parent.shipping().SelectedRate" />
                            <span class="number">$</span><span class="number" data-bind="text: Charge"></span>
                            <span> - </span>
                            <span data-bind="text: Service"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row payment-info">
            
            <!-- TODO: credit card info -->
        </div>

    </div>
    <!-- total -->
</div>

<!-- shipping address -->
<!-- billing address -->

@section scripts
{
    <script type="text/javascript" src="~/js/__cart.js"></script>
}